*~
.*.swp
*.[oa]
*.l[oa]
*.so
*.libs
*.deps
.dirstamp
libtool
/aclocal.m4
/autom4te.cache
/build-stamp
/config
/config.log
/config.guess
/config.status
/config.sub
/configure
/INSTALL
*Makefile.in
*Makefile
debian/conntrack.debhelper.log
debian/conntrack.substvars
debian/conntrack/
debian/conntrackd.debhelper.log
debian/conntrackd.postinst.debhelper
debian/conntrackd.postrm.debhelper
debian/conntrackd.prerm.debhelper
debian/conntrackd.substvars
debian/conntrackd/
debian/files
debian/patched/
debian/stamp-build
debian/stamp-install
debian/tmp/
patch-stamp
src/conntrack
src/conntrackd
src/read_config_lex.c
src/read_config_yy.c
src/read_config_yy.h
