Source: conntrack
Section: net
Priority: optional
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Homepage: http://conntrack-tools.netfilter.org/
Build-Depends: debhelper (>= 5), libnfnetlink-dev (>= 1.0.1),
 libnetfilter-conntrack-dev (>= 1.0.4), libmnl-dev (>= 1.0.3),
 libnetfilter-cthelper0-dev (>= 1.0.0), libnetfilter-cttimeout-dev (>= 1.0.0),
 libnetfilter-queue-dev (>= 1.0.2), bison, flex, autotools-dev
Standards-Version: 3.8.4

Package: conntrack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Program to modify the conntrack tables
 conntrack is a userspace command line program targeted at system
 administrators. It enables them to view and manage the in-kernel
 connection tracking state table.

Package: conntrackd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Connection tracking daemon
 Conntrackd can replicate the status of the connections that are
 currently being processed by your stateful firewall based on Linux.
 Conntrackd can also run as statistics daemon.

Package: nfct
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Build-Depends: libnetfilter-cttimeout-dev (>= 1.0.0), 
Description: Tool to interact with the connection tracking system
 nfct is the command line tool that allows you to manipulate the Netfilter's
 Connection Tracking System.
 .
 By now, the supported subsystem is timeout.
 
Package: conntrack-helpers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Conntrack tracking helpers
 Conntrack tracking helper modules to assist the firewall in tracking FTP,
 RPC and TNS protocols.
