Source: conntrack
Section: net
Priority: optional
Maintainer: Max Kellermann <max@duempel.org>
Build-Depends: debhelper (>= 5), libnfnetlink-dev (>= 0.0.16), libnetfilter-conntrack-dev (>= 0.0.31)
Standards-Version: 3.7.2

Package: conntrack
Architecture: any
Depends: ${shlibs:Depends}, libconntrack-extensions (= ${Source-Version})
Description: Program to modify the conntrack tables
 The userspace connection tracking table administration program.

Package: libconntrack-extensions
Architecture: any
Depends: ${shlibs:Depends}
Description: Protocol extensions for the conntrack program
 The userspace connection tracking table administration program.
 .
 This package provides the protocol extensions.
